:root {
    --side-bar-colour: #f3f4f6;
    --side-bar-hover: rgba(15, 23, 42, 0.139);
    --sidebar-border: #e5e7eb;

    --table-header: #f3f4f6;
    --table-border: rgba(15, 23, 42, 0.257);
    --table-cell-border: #ececee;

    --nav-item-icon: #6b7280;
    --nav-item-hover: rgba(15, 23, 42, 0.257);


    /* Dimensions */
    --control-size-sm: 32px;
    --control-size-md: 40px;
    --control-size-lg: 48px;
}
* {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    background: #f5f6f8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden
}

.app-shell {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    display: flex;
}

.sidebar {
  width: 180px;
  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  background: var(--side-bar-colour);

  border: 1px solid var(--sidebar-border);
  border-radius: 20px;
  transition: width 0.18s ease;
  margin: 10px;
}

/* COLLAPSED */

.sidebar.collapsed {
  width: 54px;
}

.sidebar.collapsed .sidebar-top {
  justify-content: center;
}

.sidebar-top {
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  flex-shrink: 0;
}

.logo {
    font-size: 18px;
    font-weight: 400
}
.collapse-button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #6b7280;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  transition:
    background 0.15s ease,
    color 0.15s ease;
}

.collapse-button:hover {
  background:
    rgba(15, 23, 42, 0.06);

  color:
    #111827;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;

  gap: 4px;
  padding: 12px 6px;
}

.nav-item {

  height: 35px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition:
    background 0.15s ease,
    color 0.15s ease;
}

.nav-item:hover {
    background: var(--side-bar-hover);
}

.nav-icon {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  color: var(--nav-item-icon);
}

.nav-item:hover .nav-icon {
  color: #111827;
}

.main-surface {
  flex: 1;

  margin: 10px 0;
  
  border-radius: 20px;

  min-width: 0;
  min-height: 0;

  max-width: 100%;

  display: flex;
  flex-direction: column;

  background: #f8fafc;

  overflow: hidden;
}

.toolbar {
    background: #fff;
    flex-shrink: 0;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    font-weight: 600;
    display: flex;
    gap: 20px;
}

.toolbar-title {
  font-size: 25px;
  font-weight: 500;
}

.content {
    flex: 1;
    padding: 24px;
    overflow: auto
}

.surface-card {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 16px;
    min-height: 400px;
    padding: 24px
}

.workspace-leaf-content[data-type="obsidium-board-view"] .view-header {
    display: none
}

.workspace-leaf-content[data-type="obsidium-board-view"] .view-content {
    padding-top: 0 !important
}

/*$vite$:1*/

/* FULL BLEED OBSIDIAN INTEGRATION */

.workspace-leaf-content[data-type="obsidium-board-view"] .view-content {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

/* REMOVE INNER CONTAINER SPACING */

.workspace-leaf-content[data-type="obsidium-board-view"] .view-content > div {
  height: 100%;
  margin: 0 !important;
}

/* COLLAPSIBLE TEXT */

.logo-text {
  white-space: nowrap;

  transition:
    opacity 0.15s ease,
    width 0.15s ease;

  overflow: hidden;
}

.nav-label {
  font-size: 14px;

  white-space: nowrap;

  overflow: hidden;

  transition:
    opacity 0.15s ease,
    width 0.15s ease;
}

/* HIDDEN STATE */

.logo-text.hidden,
.nav-label.hidden {
  opacity: 0;

  width: 0;

  pointer-events: none;
}

/* COLLAPSED SIDEBAR */

.sidebar.collapsed .nav-item {
  justify-content: center;
  padding: 0;
  gap: 0;
}

.sidebar.collapsed .sidebar-top {
  justify-content: center;
}

.sidebar.collapsed .logo-wrapper {
  justify-content: center;
}
.logo-wrapper {
  display: flex;
  align-items: center;

  gap: 10px;

  overflow: hidden;

  min-width: 0;
}


/* TABLE */
/* WORKSPACE */

.workspace-viewport {
    width: 100%;
    height: 100%;

    padding: 14px;

    overflow: hidden;

    background: #f5f6f8;
    background-color: white;
}
/* TABLE SURFACE */


.table-surface {
  width: 100%;
  height: 100%;
  padding: 0;
  min-width: 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}


.table-scroll-container {
  width: 100%;
  max-width: 100%;
  /* Table Height */
  max-height: 100%;
  overflow: auto;

  min-width: 0;
  min-height: 0;

  border: 1px solid #dcdfe4;
  border-radius: 14px;

  background: white;
}


.table-grid {
  /* width: max-content; */
  width: 100%;

  min-width: 100%;

  display: flex;
  flex-direction: column;
}

/* HEADER */


.table-header {
    position: sticky;
    top: 0;

    z-index: 10;

    display: flex;

    background: #f3f4f6;

    border-bottom:
            1px solid #e5e7eb;
}

/* HEADER CELL */


.table-header-cell {
    /* width: 180px; */
    flex: 1;
    height: 36px;

    flex-shrink: 0;

    display: flex;
    align-items: center;

    padding: 0 16px;

    font-size: 13px;
    font-weight: 600;

    border-right:
            1px solid #ececee;
}

/* BODY */


.table-body {
    display: flex;
    flex-direction: column;
}

/* ROW */


.table-row {
    display: flex;

    min-height: 36px;

    border-bottom:
            1px solid #ececee;
}

.table-row:hover {
  background:
    rgba(15, 23, 42, 0.03);
}

/* CELL */

.table-cell {
    flex: 1;  

    flex-shrink: 0;

    display: flex;
    align-items: center;

    padding: 0 16px;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

    border-right: 1px solid #ececee;
    font-size: 13px;
}


.table-scroll-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* TRACK */

.table-scroll-container::-webkit-scrollbar-track {
    background: transparent;

    border-radius: 999px;
}

/* THUMB */

.table-scroll-container::-webkit-scrollbar-thumb {
    background: rgba(15, 23, 42, 0.18);

    border-radius: 999px;

    border: 2px solid transparent;

    background-clip: padding-box;
}

/* HOVER */

.table-scroll-container::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 23, 42, 0.32);

    background-clip: padding-box;
}

/* CORNER */

.table-scroll-container::-webkit-scrollbar-corner {
    background: transparent;
}

.select-pill {
  display: inline-flex;
  align-items: center;

  height: 20px;

  padding: 0 10px;

  border-radius: 999px;

  font-size: 12px;

  white-space: nowrap;
}

.date-cell {
  font-size: 12px;
  color: #475569;
  white-space: nowrap;
}

.priority-pill {
  display: inline-flex;
  align-items: center;

  height: 20px;

  padding: 0 10px;

  border-radius: 999px;

  font-size: 12px;

  white-space: nowrap;
}

.nav-item.active {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06) ;
  color: #111827;
}

.nav-item.active .nav-icon {
  color: var(--nav-item-icon);
}

.page-placeholder {
  padding: 32px;

  font-size: 28px;
  font-weight: 700;

  color: #0f172a;
}


/* =========================
   TABLE TOOLBAR
========================= */

.table-toolbar {

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 14px;
}

.table-toolbar-left,
.table-toolbar-right {

  display: flex;
  align-items: center;

  gap: 12px;
}

/* =========================
   BUTTON
========================= */

.toolbar-icon-button {
  width: 36px;
  height: 36px;
  
  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.toolbar-icon-button:hover {

  background:
    #f8fafc;
}

/* =========================
   DROPDOWN
========================= */

.toolbar-dropdown {
  position: relative;
}

.toolbar-menu {

  position: absolute;

  top: 100%;
  right: 0;

  width: 150px;

  background: white;

  border:
    1px solid #e5e7eb;

  border-radius: 14px;

  padding: 4px;

  z-index: 100;
}

/* =========================
   MENU ITEM
========================= */

.toolbar-menu-item {

  position: relative;

  height: 28px;

  border-radius: 10px;

  display: flex;
  align-items: center;

  padding: 0 12px;

  cursor: pointer;
}

.toolbar-menu-item:hover {

  background:
    #f3f4f6;
}

.menu-row {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   SUBMENU
========================= */

.toolbar-submenu {

  position: absolute;

  top: 50%;

  right: calc(100% - 2px);

  width: 150px;

  background: white;

  border:
    1px solid #e5e7eb;

  border-radius: 14px;

  padding: 4px;

  
  opacity: 0;

  visibility: hidden;

  pointer-events: none;

  transform:
    translateX(4px);

  transition:
    opacity 0.12s ease,
    transform 0.12s ease;

  z-index: 200;
}

/* =========================
   SUBMENU ITEM
========================= */

.toolbar-submenu-item {

  width: 100%;
  height: 28px;

  border-radius: 10px;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  cursor: pointer;
}

.toolbar-submenu-item:hover {

  background:
    #f3f4f6;
}


/* =========================
   SUBMENU HOVER
========================= */

.has-submenu:hover .toolbar-submenu {

  opacity: 1;

  visibility: visible;

  pointer-events: auto;

  transform:
    translateX(0);
}

/* =========================
   COLUMN TOGGLE ITEM
========================= */

.column-toggle-item {

  display: flex;

  align-items: center;

  gap: 10px;

  width: 100%;

  height: 30px;

  padding: 0 10px;

  border-radius: 8px;

  cursor: pointer;

  user-select: none;

  transition:
    background 0.15s ease;
}

.column-toggle-item:hover {

  background:
    #f3f4f6;
}

/* CHECKBOX */

.column-toggle-item input {

  width: 16px;
  height: 16px;

  margin: 0;

  cursor: pointer;

  flex-shrink: 0;



  border-radius: 999px;

  transform: scale(1.05);
}

/* LABEL */

.column-toggle-item span {

  font-size: 14px;

  color: #111827;

  white-space: nowrap;
}


.icon-button {

  width: 32px;
  height: 32px;

  border: none;

  background: transparent;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 8px;

  cursor: pointer;
}

.icon-button:hover {

  background:
    rgba(0,0,0,0.06);
}