* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

body {
  font-family:
    Inter,
    sans-serif;

  overflow: hidden;

  background:
    #99add5;
}

/* APP SHELL */

.app-shell {
  display: flex;

  width: 100vw;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 260px;

  background:   #f3f4f6;

  border-right:
    1px solid #e7e7e7;

  display: flex;
  flex-direction: column;

  transition:
    width 0.2s ease;

  overflow: hidden;

  flex-shrink: 0;
}

.sidebar.collapsed {
  width: 72px;
}

/* SIDEBAR TOP */

.sidebar-top {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

  border-bottom:
    1px solid #efefef;
}

/* LOGO */

.logo {
  font-size: 18px;
  font-weight: 600;
}

/* COLLAPSE BUTTON */

.collapse-button {
  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 16px;
}

/* NAVIGATION */

.sidebar-nav {
  display: flex;
  flex-direction: column;

  gap: 4px;

  padding: 12px;
}

/* NAV ITEM */

.nav-item {
  height: 42px;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 0 12px;

  border-radius: 10px;

  cursor: pointer;

  color: #333;

  transition:
    background 0.15s ease;
}

.nav-item:hover {
  background:
    #f3f4f7;
}

/* NAV ICON */

.nav-icon {
  width: 18px;

  display: flex;
  justify-content: center;
}

/* MAIN SURFACE */

.main-surface {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 0;
}

/* TOOLBAR */

.toolbar {
  height: 60px;

  background:
    white;

  border-bottom:
    1px solid #e7e7e7;

  display: flex;
  align-items: center;

  padding: 0 20px;

  font-weight: 600;

  flex-shrink: 0;
}

/* CONTENT */

.content {
  flex: 1;

  overflow: auto;

  padding: 24px;
}

/* SURFACE CARD */

.surface-card {
  min-height: 400px;

  background:
    white;

  border:
    1px solid #e7e7e7;

  border-radius: 16px;

  padding: 24px;
}


/* HIDE OBSIDIAN VIEW HEADER */

.workspace-leaf-content[data-type="obsiboard-view"]
  .view-header {
  display: none;
}

/* REMOVE HEADER OFFSET */

.workspace-leaf-content[data-type="obsiboard-view"]
  .view-content {
  padding-top: 0 !important;
}

.nav-item.active {
  background:
    rgba(162, 187, 245, 0.961);

  color:
    #adbee4;
}

.nav-item.active .nav-icon {
  color:
    #d5d9e3;
}

.nav-item.active .nav-label {
  color:
    #111827;

  font-weight: 600;
}

.page-placeholder {
  padding: 32px;

  font-size: 28px;
  font-weight: 700;

  color: #0f172a;
}